<div style="position: relative;height:100px;clear: both">
<div style="text-align: center">
    <span>友情链接：</span>
    <a href="http://github.com/">GitHub</a>&nbsp;&nbsp;&nbsp;
    <a href="https://gitee.com/progit/">Git中文</a>&nbsp;&nbsp;
    <a href="https://www.python.org/">Python官网</a>&nbsp;&nbsp;
    <a href="https://pypi.org/">pypi网站</a>
</div>
<div style="text-align: center">
    <P>致力于成为中国最大的python社区中文站，让学python更加简单</P>
</div>
<p style="text-align: center">Design by <a href=# target="_blank">桃花岛の博客</a> <a href="#">陕ICP备11002373号-1</a></p>
</div>