{# <!DOCTYPE html> #}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
     <title>Title</title>
    {% include 'base/head.html' %}
</head>
<body>
<div style="overflow: auto;width: 1000px;clear: both;margin: 0 auto;">
    {% include 'base/private_top.html'  %}
    <div style="position: relative;">
    {% include 'base/private_cebianlan.html' %}

    <form action="/category/category_edit" method="post" enctype="multipart/form-data" style="position: absolute;left: 210px;">
        <div class="form-group">
            <input type="hidden" name="category_id" value="{{ category_edit_obj.id }}">

            <label for="exampleInputEmail1">请输入新的标签名称</label>
            <input type="text" class="form-control" id="exampleInputEmail1" name="category_name" value={{ category_edit_obj.name }}>
            <p style="color: red">{{ errorstr }}</p>
            <label for="exampleInputName1">请输入新的标签编号</label>
            <input type="number" class="form-control" id="exampleInputName1" name="category_orderNo" value={{ category_edit_obj.orderNo }}>

            <label for="exampleInputDescription1">请输入新的标签描述</label>
            <input type="text" class="form-control" id="exampleInputDescription1"  name="category_description" value={{ category_edit_obj.description }}>

        </div>
        <div>
            <p>
                <input class="btn btn-warning" type="submit" value="确认修改">
                <button class="btn btn-info" type="button"><a href="/category/category_list" style="color: white">放弃修改</a></button>
            </p>
        </div>
    </form>
    </div>

    {% include 'base/foot.html'  %}
    </div>
</body>
</html>