{# <!DOCTYPE html> #}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>朋友信息</title>
    {% include 'base/head.html' %}

</head>
<body>
<div style="width: 1000px;margin:0 auto;">

    <div style="height:80px;position: relative">
        {#  左侧logo  #}
        <div style="width: 100;height: 40px;">
            <a href="/">
                <div style="background:transparent url('/static/jpg/logo.png') no-repeat center center;background-size:100px;width: 100px;height:40px;"></div>
            </a>
        </div>
        <div style="width: 500px;"></div>
        {#  右侧下拉导航  #}
        <div class="dropdown" style="position: absolute;top: 0;right:0;">
            {% if request.COOKIES.isLogin == "True" %}
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{request.COOKIES.uname}}
                    <span class="caret" ></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="position: absolute;z-index: 1;">
                    <li><a href="/account">个人设置</a></li>
                    <li><a href="/friend">好友管理</a></li>
                    <li><a href="/article">文章管理</a></li>
                    <li><a href="/category">分组管理</a></li>
                    <li><a href="/comment">评论管理</a></li>
                </ul>
                <button class="btn btn-default"><a href="/account/logout">退出登陆</a></button>
                <script>
                    $('#dropdownMenu1').click(function () {
                        $(this).next("ul").css("display", 'block').css("z-index","1000");
                    });
                    $('#dropdownMenu1+ul').mouseover(function () {
                        $(this).css("display",'block').css("z-index","1000");
                    });
                    $('#dropdownMenu1+ul').mouseout(function () {
                        $(this).css("display",'none');
                    });
                </script>
            {% else %}
                <div class="nav navbar-nav navbar-right" >
                    <li>
                        <a href="/account/login">
                            <i class="glyphicon glyphicon-log-in"></i>&nbsp&nbsp登录
                        </a>
                    </li>
                    <li>
                        <a href="/account/signup">
                            <i class="glyphicon glyphicon-user"></i>&nbsp&nbsp;注册
                        </a>
                    </li>
                </div>
            {% endif %}
        </div>

        {#  路径栏   #}
        <div style="height: 40px;position:relative;"> {# z-index:-1 #}
            <ol class="breadcrumb">
                {% if request.COOKIES.isLogin == "True" %}
                <li>
                    <a href="/account">返回个人中心</a>
                </li>
                {% else %}
                  <li>
                    <a href="/">返回首页</a>
                </li>
                {% endif %}
            </ol>
        </div>
    </div>

    <div style="float: left">
        <div class="list-group" style="border: 1px solid #DDDDDD;width: 220px">
            <h3 style="background: deepskyblue;margin-top: 0">公告</h3>
            <p>昵称：{{ account_objs.name}}</p>
            <p>性别:{{ account_objs.gender }}</p>
            <p>入岛时间：{{ account_objs.regis_date|date:"Y-m-d" }}</p>
            <p>爱好:{{ account_objs.hobby }}</p>
            <p>个性签名:{{ account_objs.description }}</p>
        </div>

        <div class="list-group" style="width:220px;float: left;margin-right: 10px" >
            <a href="/account/article?user_id={{account_objs.id}}" class="list-group-item {% if request.path_info == '/account/article' %}active{% endif %}">文章列表</a>
            {% for foo in category_objs %}
                <a href="/account/article_list?category_id={{ foo.id }}&user_id={{account_objs.id}}" class="list-group-item {% if request.path_info == '/account/article_list'  and request.GET.category_id == foo.id|make_list|join:"" %}active{% endif %}">
                    &nbsp;&nbsp;&nbsp;{{foo.name}}<span class="badge">{{foo.article_set.count}}</span>
                </a>
            {% endfor %}
        </div>
    </div>

    {% if not art_objs %}
        <p>该用户暂未发表任何文章。</p>
    {% endif %}
    {% for i in art_objs %}
        <div style="margin-left:260px;">
            <h3><a href="/article/article_detail?article_id={{ i.id }}">{{ i.title }}</a></h3>

            {#        <h5>文章摘要</h5>#}
            {% if i.summary %}
                <p>{{ i.summary }}</p>
            {% else %}
                <p>{{ i.text|truncatechars:150 }}</p>
            {% endif %}


            {#        <br>#}
            <span>发表时间:{{ i.create_date|date:'Y-m-d' }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>浏览量:{{ i.read_num }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>评论数:{{ i.comment_num }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>点赞数:{{ i.like_num }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <span>吐槽数:{{ i.dislike_num }}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;
            {#        <br>#}
            <hr style="margin: 5px 0 10px 0">

        </div>
    {% endfor %}
    <div style="margin-left:360px;">
        {{ page_html|safe }}.
    </div>
    {% include "base/foot.html" %}
</div>
</body>
</html>