{# <!DOCTYPE html> #}
<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    {% include 'base/head.html' %}
</head>
<body>
<div style="width: 1000px;margin:0 auto;">
    {% include 'base/private_top.html' %}
    {% include 'base/private_cebianlan.html' %}


    <div style="margin-left:260px;">
        <form class="form-horizontal" action="/account/password/" method="post"  style="margin: 0 auto;padding:  10px">

            <div class="form-group" style="height: 69px">
                <label for="pwd1" class="col-sm-2 control-label">原密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd1" placeholder="请输入原密码" name="upwd">
                </div>
            </div>

            <div class="form-group" style="height: 69px">
                <label for="pwd2" class="col-sm-2 control-label">密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd2" placeholder="请输入密码" name="upwd1">
                </div>
            </div>

            <div class="form-group" style="height: 69px">
                <label for="pwd3" class="col-sm-2 control-label" style="padding: 0;line-height: 40px">确认密码</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="pwd3" placeholder="确认密码" name="upwd2">
                </div>
            </div>

            <div class="form-group" style="height: 69px;width: 400px;margin: 0 auto;">
                <div class="col-sm-offset-2 col-sm-10" >

                    <button  class="btn btn-default" onclick="back()">放弃修改</button>
                    <button type="submit"class="btn btn-danger" style="margin-left:100px; ">密码修改</button>
                </div>
            </div>
        </form>
    </div>


    {% include "base/foot.html" %}
</div>
<script>
    function back() {
        history.back(1)

    }
</script>
</body>
</html>