{# <!DOCTYPE html> #}

<meta http-equiv='Content-type' content='text/htm'>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
     
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
     
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div style="margin: 0 auto;">
    <h3><a href="javascript:location.href='http://ww1006.com'">首页(80端口)</a></h3>
    <h3><a href="javascript:location.href='http://18.216.215.108:8000'">门户博客(8000端口)</a></h3>
    <h3><a href="javascript:location.href='http://18.216.215.108:7000'">个人博客(7000端口)</a></h3>

</div>
</body>
</html>